[general]
serverName = {{ server_name }}
pass4SymmKey = $7$YuPkxg7EHJfaP7JaN+nh2ibk6GKqIEEVIYGXxrygg5Eimkly77EgPQ==

[sslConfig]
sslPassword = $7$sY5zwHQTGS0ABi86J3BS4h+q9zO+OBkY98/GQnYtMqhye/61NcKF9A==

[lmpool:auto_generated_pool_download-trial]
description = auto_generated_pool_download-trial
peers = *
quota = MAX
stack_id = download-trial

[lmpool:auto_generated_pool_forwarder]
description = auto_generated_pool_forwarder
peers = *
quota = MAX
stack_id = forwarder

[lmpool:auto_generated_pool_free]
description = auto_generated_pool_free
peers = *
quota = MAX
stack_id = free
